.whyItMatters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 15vh;
    /* border: 2px solid yellow; */
    width: 100%;
    /* padding: 2rem; */
    margin-bottom: 3rem;
}
.why-left-side{
    font-size: 1.4rem;
    padding: 0 0 0 3rem;
    background:linear-gradient(135deg, red, black);
}
.why-right-side{
    width: 70%;
    font: 1rem;
    padding: 0 0 0 3rem;
}
.why-right-side span{
    color: red;
}
.why-incidents h1{
    font-size: 2rem;
    padding: 0 0 0 2rem;
    font-weight: 700;
    color: red;
}
.why-incidents ul li{
    margin-bottom: 1rem;
}
.why-incidents li{
    border-left: 3px solid red;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    list-style: none;
}
.why-incidents h2{
    width: max-content;
    font-size: 1.7rem;
    font-weight: 700;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
    border-radius: 5px;
}
.functionality{
    font-size: 1.4rem;
    padding: 0 5rem 0 0;
    background:linear-gradient(135deg, black, red);
    text-align: right;
    font-weight: 700;
}