.whyItMatters{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10vh;
    padding: 1rem 2rem;
}

/* LEFT */
.why-left-side{
    font-size: 1.4rem;
    padding: 1.5rem;
    background: linear-gradient(135deg, red, black);
    color: white;
}

/* RIGHT */
.why-right-side{
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 1.6;
}

.why-right-side span{
    color: red;
    font-weight: 600;
}

/* INCIDENTS */
.why-incidents h1{
    font-size: 2rem;
    padding: 0 1rem;
    font-weight: 700;
    color: red;
}

.why-incidents ul{
    padding: 0;
}

.why-incidents li{
    border-left: 3px solid red;
    padding: 1rem;
    list-style: none;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.why-incidents h2{
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 2px solid red;
    padding-bottom: 0.3rem;
}

.why-incidents p{
    font-size: 1rem;
    line-height: 1.6;
}

/* FUNCTIONALITY */
.func-heading{
    background: linear-gradient(135deg, black, red);
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    color: white;
}

.func-content{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.func-content img{
    width: 100%;
    max-width: 900px;
    height: auto;
}
@media (max-width: 768px){
    .why-left-side{
        font-size: 1.2rem;
        text-align: center;
    }

    .why-right-side{
        font-size: 0.95rem;
        padding: 1rem;
    }

    .why-incidents h2{
        font-size: 1.3rem;
    }
}
@media (max-width: 480px){
    .whyItMatters{
        padding: 1rem;
    }

    .why-left-side h1{
        font-size: 1.4rem;
    }

    .why-right-side h3{
        font-size: 0.95rem;
    }

    .why-incidents h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .why-incidents h2{
        font-size: 1.2rem;
    }

    .func-heading h1{
        font-size: 1.3rem;
    }
}
